
<% content_for :head do %>
    <%= javascript_include_tag "bootstrap-dropdown-checkbox" %>
    <%= javascript_include_tag "checkbox_related" %>


<% end %>


<div class="hidden">
  <div class="direction-panel">
    <div class="travel-mode-container-panel">
        <span class="js-center">Center</span>
       <span class="mode-button">
          <select id="mode-panel">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
      </span>
    </div>
      <input type="text" class="from-panel geocomplete" id="formGroupExampleInput" placeholder="from">
      <input type="text" class="to-panel geocomplete" id="formGroupExampleInput2" placeholder="to">


    <!--<div class="routes-box" id="routes">-->
        <!--<p>routes option</p>-->
    <!--</div>-->

    <div id="steps-panel"></div>

    <select class="radius-panel" id="radius-selector">
      <option value="2"> 2 mi radius</option>
      <option value="5">5 mi radius</option>
      <option value="15">+5 mi radius</option>
    </select>

    <div class="myDropdownCheckbox map-checkboxes" id="check-panel">

    </div>

    <section class="fun-box">

    </section>

    <div>
      <button type="button" class="fun-button" id="map-button">Show my options</button>
    </div>

  </div>
</div>


